body {
  /* font-family: 'Lobster', sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* HEADER  */

   /* Estilo dos links na barra de navegação */
   .navbar-nav .nav-link {
    font-size: 1.3rem; /* Tamanho do texto */
    padding: 10px 15px; /* Espaçamento interno */
    transition: color 0.3s ease; /* Efeito de transição de cor suave */
}

/* Efeito de hover suave nos links */
.navbar-nav .nav-link:hover {
    color: #007bff; /* Cor do texto ao passar o mouse */
}
/* SEÇÃO DE BOAS VINDAS */

.bg-image {
  background-image: url("./assets/cat-and-dogs-pet-show.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h1 > strong {
  border-bottom: 1px solid #dc8998;
  color: #dc8998;
  font-family: "Lobster", sans-serif;
  font-size: 3.5rem;
}

.descricao-boas-vindas {
  font-size: 1.1rem;
}

/* DIVISOR DE TELA SPIKES 
    https://wweb.dev/resources/css-separator-generator
*/

.spikes {
  position: relative;
  background: #ffffff;
  height: 10vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-position: 0 0;
}

/* SEÇÃO PRODUTOS */

.container-produtos {
  background-color: #dc8998;
}

h2 {
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
}

h2 > span {
  border-bottom: 1px solid #ffffff;
}

.descricao {
  font-size: 1.5rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #dc8998;
}

/* DIVISOR DE TELA  */

.curved {
  position: relative;
  background: #dc8998;
  height: 14vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

/* SEÇÃO NOSSO TIME */

/* CARROSSEL */

/* SEÇÃO SOBRE BRINQUEDO PARA GATINHOS */
.clip-path-container {
  position: relative;
  clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0 100%);
}

.selo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc8998;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.btn-saiba-mais {
  background-color: #dc8998;
  color: #ffffff;
  border: none;
  padding: 14px 24px;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.btn-saiba-mais:hover {
  background-color: #a56b77;
  /* Cor um pouco mais escura ao passar o mouse */
}

/* SEÇÃO DEPOIMENTOS */

.depoimentos-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fedd62;
}

.depoimentos-title {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f48b48;
}

.depoimentos-description {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #f48b48;
}

.depoimentos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.depoimento img {
  width: 100%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
  border: 15px solid #f48b48;
}

.depoimento p {
  margin-top: 10px;
  font-size: 1rem;
}

/* SEÇÃO SOBRE NÓS */

.semicircle {
  position: relative;
  background: #fedd62;
  height: 5vh;
  margin-bottom: 25px;
}

.semicircle::before {
  position: absolute;
  content: "";
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;
}

/* SEÇÃO GALERIA DE FOTOS */
.bg-galeria {
  background-color: #ff9655;
}

.galeria-title {
  color: #fedd62;
  font-size: 4.5rem;
}

.triangle {
  position: relative;
  background: #ff9655;
  height: 1vh;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 100px;
  border-color: #ff9655 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

/* SEÇÃO CONTATO */

.btn-enviar-mensagem {
  background-color: #ff9655;
  border: 1px solid #f48b48; /* Adicionei a propriedade 'border' para manter a borda */
  font-size: 1.2rem;
  color: #fff;
}

.btn-enviar-mensagem:hover,
.btn-enviar-mensagem:focus {
  background-color: #fedd62;
}

.btn-enviar-mensagem:active {
  background-color: #ff9655;
}


/* FOOTER  */

footer {
  background-color: #DDF1CF;
}

/* Estilo para ícones das redes sociais */
a {
  text-decoration: none;
}

.social-icons i {
  font-size: 2em; 
  margin-right: 10px; 
  color: #555; 
  transition: color 0.3s ease; 
}

/* Estilo ao passar o mouse sobre os ícones */
.social-icons i:hover {
  color: #3b8a98; /* Cor alterada ao passar o mouse (azul do Facebook como exemplo) */
}



/* MEDIA QUERIES */

@media (max-width: 767px) {
  .bg-image {
    height: auto;
  }
}
