body {
  /* font-family: 'Lobster', sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* SEÇÃO DE BOAS VINDAS */

.bg-image {
  background-image: url("./assets/cat-and-dogs-pet-show.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h1 > strong {
  border-bottom: 1px solid #dc8998;
  color: #dc8998;
  font-family: "Lobster", sans-serif;
  font-size: 3.5rem;
}

.descricao-boas-vindas {
    font-size: 1.1rem;
}

/* DIVISOR DE TELA SPIKES 
    https://wweb.dev/resources/css-separator-generator
*/

.spikes {
  position: relative;
  background: #ffffff;
  height: 10vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(225deg, #ffffff 25%, transparent 25%);
  background-position: 0 0;
}

/* SEÇÃO PRODUTOS */

.container-produtos {
  background-color: #dc8998;
}

h2 {
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
}

h2 > span {
  border-bottom: 1px solid #ffffff;
}

.descricao {
  font-size: 1.5rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 10px;
  color: #dc8998;
}

/* DIVISOR DE TELA  */

.curved {
    position: relative;
    background: #dc8998;
    height: 14vh;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

/* SEÇÃO NOSSO TIME */

/* CARROSSEL */

/* SEÇÃO SOBRE BRINQUEDO PARA GATINHOS */
.clip-path-container {
    position: relative;
    clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0 100%);
  }
  
  .selo {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: #dc8998; 
    color: #fff; 
    padding: 5px 10px; 
    font-size: 1.2rem; 
    border-radius: 5px; 
  }

  .btn-saiba-mais {
    background-color: #dc8998;
    color: #ffffff;
    border: none;
    padding: 14px 24px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-saiba-mais:hover {
    background-color: #a56b77;
    /* Cor um pouco mais escura ao passar o mouse */
}


/* SEÇÃO DEPOIMENTOS */

.depoimentos-section {
    text-align: center;
    padding: 50px 0;
    background-color: #FEDD62;
  }

  .depoimentos-title {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #F48B48;
  }

  .depoimentos-description {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: #F48B48;
  }

  .depoimentos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .depoimento {
    width: 30%;
    margin: 10px;
    overflow: hidden;
  }

  .depoimento img {
    width: 100%;
    height: auto;
    clip-path: circle(50% at 50% 50%);
    border: 15px solid #F48B48; 

  }

  .depoimento p {
    margin-top: 10px;
    font-size: 1rem;
  }
 



/* MEDIA QUERIES */

@media (max-width: 767px) {
  .bg-image {
    height: auto;
  }
}
